# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.env

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual environment directories
*.egg-info/
*.egg
dist/
build/
